body {
    background-color: #B2C2D1;
    background-image: url(../image/h1.jpg);
}

#pageWrapper {
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #FFF;
    /* Border */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
    border: solid 1px #808080;
}

#header {
    height: 150px;
    position: relative;
    background-image: url('../image/h1.jpg');
    background-repeat: repeat-x;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}


#siteTitle {
    position: absolute;
    right: 50px;
    top: 5px;
    font-size: 20px;
    color: #2600ff;
    text-shadow: 1px 1px 1px #000;
}

#siteTitle2 {
    position: absolute;
    left: 200px;
    top: 55px;
    font-size: 40px;
    color: #2600ff;
}

.group-box {
    border: 1px solid #999;
    background: #f3f3f3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    box-shadow: 3px 3px 10px #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.group-box .title {
    background-color: #4294DE;
    height: 22px;
    padding: 5px 10px;
    margin-top: 0;
    color: #fff;
    font-size: 13pt;
    font-weight: bold;
    text-shadow: 0 1px 0 #777;
    -moz-box-shadow: 1px 1px 15px #999 inset;
    -webkit-box-shadow: 1px 1px 15px #999 inset;
    box-shadow: 1px 1px 15px #999 inset;
}